* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}


body {
    background-image: url('/docs/assets/images/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

#page-wide-div {
    animation: fadeIn 2s;  
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#title, #middle-section {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#title-div h1 { 
    padding-top: 8vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 8vh;   
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 5vw;
    transform: skewX(10deg);
    color:aliceblue 	;
    text-shadow: 5px 5px 15px rgb(243, 48, 214);
    display: flex;
    justify-content: center;
}


#middle-section {
    display: flex;
    height: 70vh;
    width: 100vw;
    justify-content: space-evenly;  
}

#game-controls-info {
    
    margin-top: 110px;
    margin-left: 50px;
    padding-left: 7px;
    padding-right: 7px;    
    line-height: 40px;
    text-align: center;
    height: 300px;
    background-color: rgb(91, 91, 208, 0.3);
    border: 1px solid rgb(243, 48, 214);
    border-radius: 30px;
}

#bonus-story-line-div, #game-controls-info  {
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    display: none;
    border-radius: 50px;
    margin-right: 80px !important;
    border-color: antiquewhite;
    background-image: url('/docs/assets/images/canvas-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#bonus-story-line-style-button {
    display: flex;
    text-align: center;
    writing-mode:vertical-rl;
    text-orientation: upright;
    height: 10vh;
}

div h3{
    color: rgb(243, 48, 214);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'VT323', monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ol {
    color: antiquewhite;
    font-size: 25px;
    list-style-type: none;
    font-family: 'VT323', monospace;

}

.middlepart-middle-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

ul{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    margin-right: 80px;
    
}

#start-game-button {
    display: flex;
    height: 10vh;
    width: 15vw;
    font-size:3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color:antiquewhite;
    background-color: rgb(27, 23, 23);
    margin: 0 auto;
    border-width: 5px;
    border-color: rgb(255, 164, 17);
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#start-game-button:hover {
    animation-delay: 1s;
    height: 13vh;
    width: 18vw;
    background-color: rgb(255, 164, 17);
    box-shadow: 0px 0px 26px 8px rgb(255,255,255);
    font-size: 5vh;
    letter-spacing: 3px;
    transition-duration: 0.8s;
}

#highscore-button, #credits-button, #exit-button, #bonus-story-line-style-button {
    display: flex;
    border-radius: 50px;
    font-size:3vh;
    letter-spacing: 1px;
    margin: 0 auto;
    height: 7vh;
    width: 10vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 23, 23);
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: 5px;
    border-color: rgb(243, 48, 214);  
}

#highscore-button:hover, #credits-button:hover, #exit-button:hover {
    animation-delay: 0.5s;
    height: 8vh;
    width: 11vw;
    background-color: rgb(243, 48, 214);
    box-shadow: 0px 0px 26px 8px rgb(255,255,255);
    transition-duration: 0.25s;
    letter-spacing: 0.15em;
}

a {
    text-decoration: none;
    text-align: center;
    text-orientation: upright;
    color: antiquewhite;
    display: inline-block;
    white-space: pre;
    text-align: center;
}

a span {
    display: block;
}

#bonus-story-line-style-button {   
    border-radius: 50%;
    height: 20vh;
    background-image: url('/');
    background-size:cover;
    background-repeat: no-repeat;
}

#bonus-story-line-style-button:hover{
    box-shadow: 0px 0px 26px 8px rgb(255,255,255);
    height: 24vh;
    width: 12vw;
}



.form-popup {
    height: 45vh;
    display: flex;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(91, 91, 208, 0.3);
    border: 1px solid rgb(243, 48, 214);
    color: antiquewhite;
    font-family: 'VT323', monospace;
    border-radius: 30px;

}

#form-title {
    color: rgb(243, 48, 214);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'VT323', monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

#player-name {
    padding-left: 10px;
    height: 25px;
    font-size: 16px;
    font-family: 'VT323', monospace;
}

.hidden{
    display: none;
}

#player-label {
    font-size: 25px;
    padding-right: 10px;
}

form h4 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 18px;
    font-size: 25px;
    letter-spacing: 1px;
}

form div {
    padding-bottom:14px;
    font-size:25px;
}

#begin-game-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#begin-game {
    margin-top: 40px;
    height: 50px;
    width: 130px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: rgba(224, 224, 224, 0.3);
    color: black;
    font-size: 20px;
    font-weight: bold;;    
}
#begin-game:hover {
    margin-top: 40px;
    height: 65px;
    width: 150px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: rgba(30, 26, 26, 0.7);
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
